html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 300px;
}

#footerwrap {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 300px;  
}

img.avatar {
    width:60px;
    height:auto;
    border-radius: 50%;
}

img.small-avatar {
    width:35px;
    height:auto;
    margin-right: 10px;
    border-radius: 50%;
}

.timeline {
    padding-top:12px;
    padding-bottom:12px;
    border-left: solid 4px #A9A9A9;
}

.timeline-item {
    position: relative;
    left:-50px;
}

img.activity-icon {
    width: 60px;   
    margin-top:40px;
    background-color: white;
}

.timeline-body {
    position: relative;
    left: 20px;    
}

.timeline-body-container {
    /* Add shadows to create the "card" effect */
    width:95%;
    border: 1px solid #384452;
    padding:15px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);    
}

h4.media-heading {
   width:100%; 
}
.points {
    font-size:0.8em;
    color: #00b3fe;
    margin-top: 5px;
    float:right;
}

  .stepsContainer {
      width: 100%;
      margin-bottom: 100px;
      text-align: center;
  }
  .progressbar {
      counter-reset: step;
  }
  .progressbar li {
      list-style-type: none;
      width: 33%;
      float: left;
      font-size: 12px;
      position: relative;
      text-align: center;
      text-transform: uppercase;
      color: #384452;
  }
  .progressbar li:before {
      width: 30px;
      height: 30px;
      content: counter(step);
      counter-increment: step;
      line-height: 30px;
      border: 2px solid #384452;
      display: block;
      text-align: center;
      margin: 0 auto 10px auto;
      border-radius: 50%;
      background-color: white;
  }
  .progressbar li:after {
      width: 100%;
      height: 2px;
      content: '';
      position: absolute;
      background-color: #384452;
      top: 15px;
      left: -50%;
      z-index: -1;
  }
  .progressbar li:first-child:after {
      content: none;
  }
  .progressbar li.active {
      color: #00b3fe;
  }
  .progressbar li.active:before {
      border-color: #00b3fe;
  }
  .progressbar li.active + li:after {
      background-color: #00b3fe;
  }

img.selected {
    border: 4px solid #00b3fe; 
}

#submenu {
 margin-top: -60px;	 
 background-color: #384452;
}

#profileHeader {
    float: right;    
}

.avatar-select-item {
    padding: 20px;   
}

.skillBadge {
    padding: 5px;
    margin-right: 5px;
    background-color: #384452;
    color: #ffffff;
    border-radius: 10%;
}

.btn-file {
  overflow: hidden;
  position: relative;
  vertical-align: middle;
}
.btn-file > input {
  position: absolute;
  top: 0;
  right: 0;
  margin: 0;
  opacity: 0;
  filter: alpha(opacity=0);
  font-size: 23px;
  height: 100%;
  width: 100%;
  direction: ltr;
  cursor: pointer;
}
.fileinput {
  margin-bottom: 9px;
  display: inline-block;
}
.fileinput .form-control {
  padding-top: 7px;
  padding-bottom: 5px;
  display: inline-block;
  margin-bottom: 0px;
  vertical-align: middle;
  cursor: text;
}
.fileinput .thumbnail {
  overflow: hidden;
  display: inline-block;
  margin-bottom: 5px;
  vertical-align: middle;
  text-align: center;
}
.fileinput .thumbnail > img {
  max-height: 100%;
}
.fileinput .btn {
  vertical-align: middle;
}
.fileinput-exists .fileinput-new,
.fileinput-new .fileinput-exists {
  display: none;
}
.fileinput-inline .fileinput-controls {
  display: inline;
}
.fileinput-filename {
  vertical-align: middle;
  display: inline-block;
  overflow: hidden;
}
.form-control .fileinput-filename {
  vertical-align: bottom;
}
.fileinput.input-group {
  display: table;
}
.fileinput.input-group > * {
  position: relative;
  z-index: 2;
}
.fileinput.input-group > .btn-file {
  z-index: 1;
}
.fileinput-new.input-group .btn-file,
.fileinput-new .input-group .btn-file {
  border-radius: 0 2px 2px 0;
}
.fileinput-new.input-group .btn-file.btn-xs,
.fileinput-new .input-group .btn-file.btn-xs,
.fileinput-new.input-group .btn-file.btn-sm,
.fileinput-new .input-group .btn-file.btn-sm {
  border-radius: 0 2px 2px 0;
}
.fileinput-new.input-group .btn-file.btn-lg,
.fileinput-new .input-group .btn-file.btn-lg {
  border-radius: 0 2px 2px 0;
}
.form-group.has-warning .fileinput .fileinput-preview {
  color: #ff9800;
}
.form-group.has-warning .fileinput .thumbnail {
  border-color: #faebcc;
}
.form-group.has-error .fileinput .fileinput-preview {
  color: #f44336;
}
.form-group.has-error .fileinput .thumbnail {
  border-color: #ebccd1;
}
.form-group.has-success .fileinput .fileinput-preview {
  color: #4caf50;
}
.form-group.has-success .fileinput .thumbnail {
  border-color: #d6e9c6;
}
.input-group-addon:not(:first-child) {
  border-left: 0;
}
