	<!-- *****************************************************************************************************************
	 BLUE WRAP
	 ***************************************************************************************************************** -->
	<div id="blue">
	    <div class="container">
			<div class="row">
				<h3>El juego</h3>
			</div><!-- /row -->
	    </div> <!-- /container -->
	</div><!-- /blue -->

	 
	<!-- *****************************************************************************************************************
	 AGENCY ABOUT
	 ***************************************************************************************************************** -->

	 <div class="container mtb">
	 	<div class="row">
	 		<div class="col-lg-6">
	 			<img class="img-responsive" src="assets/img/gamification.png" alt="Gamificación">
	 		</div>
	 		
	 		<div class="col-lg-6">
		 		<h4>Gamificación aplicada al entorno de desarrollo</h4>
		 		<p><em>"La gamificación es el uso de técnicas, elementos y dinámicas propias de los juegos y el ocio en actividades no recreativas con el fin de potenciar la motivación, así como de reforzar la conducta para solucionar un problema u obtener un objetivo."</em></p>
		 		<p>El objetivo de la plataforma es embeber técnicas de gamificación en el día a día de nuestros equipos de desarrollo con el objetivo de implementar efectivamente técnicas de integración continua y mejores prácticas de desarrollo con el fin de mejorar la calidad de los desarrollos realizados por Unisys.</p>
		 		<p>Mediante la plataforma pretendemos entrenar a nuestros usuarios en estas técnicas que para muchos de ellos son novedosas así como fomentar su adhesión a lo que hemos definido como mejores prácticas de desarrollo aquí en la compañía.</p>
                <p>Para lograr todo esto, obtendremos métricas sobre la actividad de los desarrolladores en los diferentes sistemas en uso dentro de Unisys: herramientas de control de código fuente (Gitlab y TFS), herramientas de ticketing y seguimiento de proyectos (JIRA) y nuestro motor de integración contínua (Jenkins).</p>
                <p>Mediante el uso de estas métricas podremos crear distintos juegos asociados con los proyectos existentes así como monitorizar la actividad de los desarrolladores y evaluar en tiempo real el QA de nuestros proyectos.</p>
	 		</div>
	 	</div><! --/row -->
	 </div><! --/container -->

	<!-- *****************************************************************************************************************
	 TEEAM MEMBERS
	 ***************************************************************************************************************** -->

	 <div class="container mtb">
	 	<div class="row centered">
		 	<h3 class="mb">LAS REGLAS DEL JUEGO</h3>
		 	
		 	<div class="col-lg-3 col-md-3 col-sm-3">
				<div class="he-wrap tpl6">
				    <img src="assets/img/avatar.png" alt="Crea tu avatar">					
				</div><!-- he wrap -->
				<h4>Sign Up</h4>
				<h5 class="ctitle">Crea tu jugador</h5>
				<p>Regístrate en la plataforma, crea tu avatar y establece las características de tu jugador.</p>
				<div class="hline"></div>
		 	</div><! --/col-lg-3 -->

		 	<div class="col-lg-3 col-md-3 col-sm-3">
				<div class="he-wrap tpl6">
				    <img src="assets/img/onboarding.png" alt="Onboarding">					
				</div><!-- he wrap -->
				<h4>On-boarding</h4>
				<h5 class="ctitle">Aprende las reglas</h5>
				<p>Juega el tutorial y aprende sobre Integración Continua antes de enrolarte en alguno de los juegos existentes.</p>
				<div class="hline"></div>
		 	</div><! --/col-lg-3 -->

		 	<div class="col-lg-3 col-md-3 col-sm-3">
				<div class="he-wrap tpl6">
				    <img src="assets/img/enrollment.png" alt="Enrollment">					
				</div><!-- he wrap -->
				<h4>Enrollment</h4>
				<h5 class="ctitle">Inscríbete en algún juego</h5>
				<p>Inscríbete en los juegos asociados a tus proyectos de desarrollo y estarás a un paso de poder empezar.</p>
				<div class="hline"></div>
		 	</div><! --/col-lg-3 -->

		 	<div class="col-lg-3 col-md-3 col-sm-3">
				<div class="he-wrap tpl6">
				    <img src="assets/img/coding.png" alt="Coding">					
				</div><!-- he wrap -->
				<h4>Play</h4>
				<h5 class="ctitle">Codifica y diviértete</h5>
				<p>Acumula puntos y obten recompensas mientras realizas tu trabajo diario. ¡A jugar!</p>
				<div class="hline"></div>
		 	</div><! --/col-lg-3 -->		 	
		 	
	 	</div><! --/row -->
	 </div><! --/container -->
	 
	<!-- *****************************************************************************************************************
	 Integraciones
	 ***************************************************************************************************************** -->
	 <div id="cwrap">
		 <div class="container">
		 	<div class="row centered">
			 	<h3>Las integraciones</h3>
			 	<div class="col-lg-3 col-md-3 col-sm-3">
			 		<img src="assets/img/systems/jira.png" alt="JIRA" class="img-responsive">
			 	</div>
			 	<div class="col-lg-3 col-md-3 col-sm-3">
			 		<img src="assets/img/systems/gitlab.png" alt="Gitlab" class="img-responsive">
			 	</div>
			 	<div class="col-lg-3 col-md-3 col-sm-3">
			 		<img src="assets/img/systems/tfs.png" alt="Microsoft Team Foundation" class="img-responsive">
			 	</div>
			 	<div class="col-lg-3 col-md-3 col-sm-3">
			 		<img src="assets/img/systems/jenkins.png" alt="Jenkins" class="img-responsive">
			 	</div>
		 	</div><! --/row -->
		 </div><! --/container -->
	 </div><! --/cwrap -->
