    <!-- *****************************************************************************************************************
	 BLUE WRAP
	 ***************************************************************************************************************** -->
	<div id="blue">
	    <div class="container">
			<div class="row">
				<h3>Actividad</h3>
			</div><!-- /row -->
	    </div> <!-- /container -->
	</div><!-- /blue -->

    <div class="container mtb">
	 	<div class="row">
	 	
	 		<div class="col-lg-6 timeline">
	 			
                <div class="media timeline-item">
                  <a class="media-left media-middle">
                    <img class="media-object activity-icon pull-left pull-middle" src="assets/img/actions/gitlab-gitlab.png">
                  </a>
                  <div class="media-body timeline-body">
                    <div class="timeline-body-container">
                        <h4 class="media-heading"><img src="assets/img/avatars/avatar1.jpeg" class="small-avatar">Commit on Gitlab <span class="points">+75XP</span></h4>
                        <p>It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.</p>
                        <p class="text-right"><csmall>April 25, 2014.</csmall></p>                        
                    </div>
                  </div>
                </div>
		 		
		 		<div class="spacing"></div>
                
                <div class="media timeline-item">
                  <a class="media-left media-middle">
                    <img class="media-object activity-icon pull-left pull-middle" src="assets/img/actions/jira-jira.png">
                  </a>
                  <div class="media-body timeline-body">
                    <div class="timeline-body-container">
                        <h4 class="media-heading"><img src="assets/img/avatars/avatar1.jpeg" class="small-avatar">Cerrada tarea en JIRA <span class="points">+100XP</span></h4>
                        <p>It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.</p>
                        <p class="text-right"><csmall>April 25, 2014.</csmall></p>                        
                    </div>
                  </div>
                </div>
		 		
		 		<div class="spacing"></div>
                
                
		 		
			</div><! --/col-lg-8 -->
	 		
            <div class="col-lg-2"></div>
            
	 		<! -- SIDEBAR -->
	 		<div class="col-lg-4">
		 		
                <h4>Ranking</h4>
		 		<div class="hline"></div>
					<ul class="popular-posts">
		                <li>
		                    <a href="#"><img src="assets/img/avatars/avatar1.jpeg" class="avatar" alt="First PLace"></a>
                            <p>Daniel García <em>(Nivel 3)</em><br/><b>8400 puntos</b></p>
		                </li>
		                <li>
		                    <a href="#"><img src="assets/img/avatars/avatar1.jpeg" class="avatar" alt="Second PLace"></a>
		                    <p>Pedro Páramo <em>(Nivel 2)</em><br/><b>6100 puntos</b></p>
		                </li>
		                
		            </ul>
		            
		 		<div class="spacing"></div>
                
		 		<h4>Juegos</h4>
		 		<div class="hline"></div>
			 		<p><a href="#"><i class="fa fa-angle-right"></i> GPT</a> <span class="badge badge-theme pull-right">9</span></p>
			 		<p><a href="#"><i class="fa fa-angle-right"></i> Clear Check</a> <span class="badge badge-theme pull-right">3</span></p>			 		

		 		<div class="spacing"></div>
		 				 				 		
	 		</div>
	 	</div><! --/row -->
	 </div><! --/container -->
