    <!-- *****************************************************************************************************************
	 BLUE WRAP
	 ***************************************************************************************************************** -->
	<div id="blue">
	    <div class="container">
			<div class="row">
				<h3>Configuración de la plataforma</h3>
			</div><!-- /row -->
	    </div> <!-- /container -->
	</div><!-- /blue -->

    <div id="submenu">
	    <div class="container">
			<div class="row">
				
                
                <nav class="navbar navbar-default" role="navigation">
                  <!-- Brand and toggle get grouped for better mobile display -->
                  <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#admin-menu-bar">
                      <span class="sr-only">Toggle navigation</span>
                      <span class="icon-bar"></span>
                      <span class="icon-bar"></span>
                      <span class="icon-bar"></span>
                    </button>                     
                  </div>

                  <!-- Collect the nav links, forms, and other content for toggling -->
                  <div class="collapse navbar-collapse" id="admin-menu-bar">
                    <ul class="nav navbar-nav">
                     
                        <li><a href="#admin/skills">HABILIDADES</a></li>
                        <li><a href="#admin/avatars">AVATARES</a></li>
                        <li><a href="#admin/levels">NIVELES</a></li>
                        <li><a href="#admin/achievements">LOGROS</a></li>                        
                        <li><a href="#admin/games">JUEGOS</a></li>                        
                        <li class="active"><a href="#admin/players">JUGADORES</a></li>                        
                        
                    </ul>    
                  </div><!-- /.navbar-collapse -->
                </nav>

                
                
                
			</div><!-- /row -->
	    </div> <!-- /container -->
	</div><!-- /blue -->

    <div class="container mtb">
	 	<div class="row">
            <p>Config skills</p>        
        </div>
    </div>