<!-- *****************************************************************************************************************
	 FOOTER
	 ***************************************************************************************************************** -->
	 <div id="footerwrap">
	 	<div class="container">
		 	<div class="row">
		 		<div class="col-lg-4">
		 			<h4>Sobre la plataforma</h4>
		 			<div class="hline-w"></div>
		 			<p>La plataforma ha sido creada por y para el Grupo de Desarrollo de Unisys España. Es utilizada en el día a día de los distintos equipos en sus proyectos reales para distintos clientes.</p>
                    
		 		</div>
		 		<div class="col-lg-4">		 			
		 		</div>
		 		<div class="col-lg-4">
                    <img src="assets/img/logo_unisys.png" alt="Unisys" class="img-responsive">                    
                    <p>
		 				Ramírez de Arellano, 29<br/>
		 				28043, Madrid,<br/>
		 				España.<br/>
		 			</p>
		 		</div>
		 	
		 	</div><! --/row -->
	 	</div><! --/container -->
	 </div><! --/footerwrap -->
	 