    <!-- *****************************************************************************************************************
	 HEADERWRAP
	 ***************************************************************************************************************** -->
	<div id="headerwrap">
	    <div class="container">
			<div class="row">
				<div class="col-lg-8 col-lg-offset-2">
					<h1>Participa en un juego colaborativo</h1>
					<h5>Obten el máximo de tus equipos mejorando sus habilidades de desarrollo e integración continua.</h5>				
				</div>
				<div class="col-lg-8 col-lg-offset-2 himg">
					<img src="assets/img/team.png" class="img-responsive">
				</div>
			</div><!-- /row -->
	    </div> <!-- /container -->
	</div><!-- /headerwrap -->

	<!-- *****************************************************************************************************************
	 SERVICE LOGOS
	 ***************************************************************************************************************** -->
	 <div id="service">
	 	<div class="container">
 			<div class="row centered">
 				
                <div class="col-md-4">
 					<i class="fa fa-flask"></i>
 					<h4>Mejora tus habilidades</h4>
 					<p>Integración continua, TDD, Extreme Programing... Todo eso está muy bien pero dominar estas técnicas es complejo y requiere de formación y reciclaje continuo.</p> 					
                    <p>Embarcate en una divertida experiencia que te permitirá mejoras al máximo tus habilidades como desarrollador.</p>
 				</div>
 				<div class="col-md-4">
 					<i class="fa fa-trophy"></i>
 					<h4>Compite y diviértete</h4>
 					<p>Evalúa tu progreso y obten recompensas por hacer aquello que te gusta y por lo que te pagan: desarrollar el mejor software posible.</p>
                    <p>Reta y compite con tus compañeros para alcanzar el máximo nivel individual y como equipo.</p>
 				</div>		 				
                <div class="col-md-4">
 					<i class="fa fa-heart-o"></i>
 					<h4>Crea equipos motivados</h4>
 					<p>Colabora con tus colegas creando equipos cohesionados y altamente motivados. Incrementa la productividad y el buen ambiente en la oficina.</p>
                    <p>Haz de tus proyectos un juego apasionante.</p>
 				</div>
 				
	 		</div>
	 	</div><! --/container -->
	 </div><! --/service -->
	 
	 
	<!-- *****************************************************************************************************************
	 TESTIMONIALS
	 ***************************************************************************************************************** -->
	 <div id="twrap">
	 	<div class="container centered">
	 		<div class="row">
	 			<div class="col-lg-8 col-lg-offset-2">
	 			<i class="fa fa-comment-o"></i>
	 			<p>En Unisys nos enfrentamos día a día a la tarea de crear el mejor software posible para nuestros clientes. Tenemos que emplear metodologías y técnicas modernas que no cualquier desarrollador conoce recién terminados sus estudios. Necesitamos mecanismos para formarnos en estas nuevas prácticas que han demostrado mejorar la calidad, la productividad y el QA de los proyectos de desarrollo.</p>
	 			<h4><br/>Daniel García Jones</h4>
	 			<p>Architecto de Movilidad - Unisys España</p>
	 			</div>
	 		</div><! --/row -->
	 	</div><! --/container -->
	 </div><! --/twrap -->
	 
	 <!-- *****************************************************************************************************************
	 CWRAP
	 ***************************************************************************************************************** -->
	 <div id="cwrap">		 
	 </div><! --/cwrap -->
