<div>
        <div class="modal-header">
            <h4 class="modal-title">Cerrar Sesión</h4>
        </div>
        <div class="modal-body">
          <div class="row">
              <div class="col-lg-3 col-md-3"></div>
              <div class="col-lg-6">
                  <p>¿Quieres cerrar la sesión?</p>
              </div>
              <div class="col-lg-3 col-md-3"></div>
          </div>
        </div><!-- End of Modal body -->
        <div class="modal-footer">
            <button class="btn btn-primary" ng-click="logout()">Salir</button>
            <button class="btn btn-primary" ng-click="cancel()">Cancelar</button>
        </div>
</div>