    <!-- *****************************************************************************************************************
	 BLUE WRAP
	 ***************************************************************************************************************** -->
	<div id="blue">
	    <div class="container">
			<div class="row">
				<h3>Avisos</h3>
			</div><!-- /row -->
	    </div> <!-- /container -->
	</div><!-- /blue -->

    <div class="container mtb">
	 	<div class="row">
            <p>Hola que ase</p>        
        </div>
    </div>