
	<!-- *****************************************************************************************************************
	 BLUE WRAP
	 ***************************************************************************************************************** -->
	<div id="blue">
	    <div class="container">
			<div class="row">
				<h3>Registro</h3>
			</div><!-- /row -->
	    </div> <!-- /container -->
	</div><!-- /blue -->

	 <!-- *****************************************************************************************************************
	 CONTACT FORMS
	 ***************************************************************************************************************** -->

	 <div class="container mtb">
	 	<div class="row">
            <div class="col-lg-2"></div>
	 		<div class="col-lg-8">
	 			<div class="alert alert-danger" role="alert" ng-show="withError">{{errorMsg}}</div>
                    <form name="myForm">
                        <div class="form-group" data-ng-class="{'has-error': errorEmail}">
                            <label for="email">Email</label>
                            <input type="email" class="form-control" id="email" ng-model="email">                            
                        </div>
                        <div class="form-group" data-ng-class="{'has-error': errorUser}">
                            <label for="email">Nickname</label>
                            <input type="text" class="form-control" id="nickname" ng-model="username">
                        </div>
                        <div class="form-group" data-ng-class="{'has-error': errorPass1}">
                            <label for="password">Contraseña</label>
                            <input type="password" class="form-control" id="password1" ng-model="password1">
                        </div>
                        <div class="form-group" data-ng-class="{'has-error': errorPass2 || errorPassMissmatch}">
                            <label for="password">Repite tu Contraseña</label>
                            <input type="password" class="form-control" id="password2" ng-model="password2">
                            <div class="error" ng-show="errorPassMissmatch">
                                Las contraseñas no coinciden
                            </div>
                        </div>
                        <a ng-click="doRegister()" ng-disabled="inRegister" class="btn btn-theme">Registrar</a>                    
                    </form>
			</div><! --/col-lg-8 -->
	 		
            <div class="col-lg-2"></div>
	 	</div><! --/row -->
	 </div><! --/container -->


