
	<!-- *****************************************************************************************************************
	 BLUE WRAP
	 ***************************************************************************************************************** -->
	<div id="blue">
	    <div class="container">
			<div class="row">
				<h3>Registro</h3>
			</div><!-- /row -->
	    </div> <!-- /container -->
	</div><!-- /blue -->

	 <!-- *****************************************************************************************************************
	 CONTACT FORMS
	 ***************************************************************************************************************** -->

	 <div class="container mtb">
	 	<div class="row">
            <div class="col-lg-2"></div>
	 		<div class="col-lg-8">
	 			
                <div class="stepsContainer">
                    <ul class="progressbar">
                        <li ng-class="{ 'active': showBlock(1)}" ng-click="navigateToBlock(1)">Usuario</li>
                        <li ng-class="{ 'active': showBlock(2)}" ng-click="navigateToBlock(2)">Avatar</li>
                        <li ng-class="{ 'active': showBlock(3)}" ng-click="navigateToBlock(3)">Habilidades</li>
                        <li ng-class="{ 'active': showBlock(4)}" ng-click="navigateToBlock(4)">IDs</li>
                    </ul>
                </div>
                
                <div class="userBlock" ng-show="showBlock(1)">
                
                    <p>Introduce los datos básicos para crear tu usuario:</p>
                    <div class="alert alert-danger" ng-show="withError">{{errorMsg}}</div>
                        <form role="form">
                          <div class="form-group">
                            <label for="email">Email</label>
                            <input type="email" class="form-control" id="email" ng-model="register1.email">
                          </div>
                          <div class="form-group">
                            <label for="email">Nickname</label>
                            <input type="text" class="form-control" id="nickname" ng-model="register1.nick">
                          </div>
                          <div class="form-group">
                            <label for="password">Contraseña</label>
                            <input type="password" class="form-control" id="password1" ng-model="register1.password1">
                          </div>
                          <div class="form-group">
                            <label for="password">Repite tu Contraseña</label>
                            <input type="password" class="form-control" id="password2" ng-model="register1.password2">
                          </div>
                          <a ng-click="doRegister1()" class="btn btn-theme">Continuar</a>
                        </form>
                </div>
                
                <div class="avatarBlock" ng-show="showBlock(2)">
                
                    <p>Elije tu avatar:</p>
                    
                    <div class="row">
                        <div class="col-lg-2">
                            <img src="assets/img/portfolio/portfolio_01.jpg" class="img-responsive" alt="">
                        </div>
                        <div class="col-lg-2">
                            <img src="assets/img/portfolio/portfolio_02.jpg" class="img-responsive" alt="">
                        </div>
                        <div class="col-lg-2">
                            <img src="assets/img/portfolio/portfolio_03.jpg" class="img-responsive" alt="">
                        </div>
                        <div class="col-lg-2">
                            <img src="assets/img/portfolio/portfolio_04.jpg" class="img-responsive" alt="">
                        </div>
                        <div class="col-lg-2">
                            <img src="assets/img/portfolio/portfolio_05.jpg" class="img-responsive" alt="">
                        </div>
                        <div class="col-lg-2">
                            <img src="assets/img/portfolio/portfolio_06.jpg" class="img-responsive" alt="">
                        </div>
                    </div>
                    
                    <div class="spacing"></div>
                    
                    <div class="row">
                        <div class="col-lg-2">
                            <img src="assets/img/portfolio/portfolio_07.jpg" class="img-responsive" alt="">
                        </div>
                        <div class="col-lg-2">
                            <img src="assets/img/portfolio/portfolio_08.jpg" class="img-responsive" alt="">
                        </div>
                        <div class="col-lg-2">
                            <img src="assets/img/portfolio/portfolio_09.jpg" class="img-responsive" alt="">
                        </div>
                        <div class="col-lg-2">
                            <img src="assets/img/portfolio/portfolio_10.jpg" class="img-responsive" alt="">
                        </div>
                        <div class="col-lg-2">
                        
                        </div>
                        <div class="col-lg-2">
                        
                        </div>
                    </div>
                    
                    <div class="spacing"></div>
                    
                    <a ng-click="doRegister2()" class="btn btn-theme">Continuar</a>
                                        
                </div>
                
                <div class="skillsBlock" ng-show="showBlock(3)">
                
                    <p>Selecciona tus habilidades (determinarán a qué juegos puedes inscribirte):</p>
                
                </div>
                
                <div class="idsBlock" ng-show="showBlock(4)">
                
                    Introduce tus IDs
                
                </div>
                
                
			</div><! --/col-lg-8 -->
	 		
            <div class="col-lg-2"></div>
	 	</div><! --/row -->
	 </div><! --/container -->


